NODE_ENV=development
PORT=3009

DATABASE_URL=postgresql://store:storepass_dev@localhost:5433/storedb?schema=public

# อย่างน้อย 32 ตัวอักษร
JWT_SECRET=hxgfh54h5xfgh54ghghfx5h4gfhgh5gh5g1h56d6sd6dvtrtjgk61265mnjk
JWT_ACCESS_TTL=15m
REFRESH_TTL_DAYS=7

# คั่นหลาย origin ด้วย comma
CORS_ORIGINS=http://localhost:3001

SEED_ADMIN_EMAIL=admin@store.local
SEED_ADMIN_PASSWORD=
